
@font-face {
	font-family: 'Lato', sans-serif;
	font-weight: 400;

}

h1 h2 h3 h4 h5 h6 {
	background: e1e1e1;
	border: 1px solid #000;
	width: 960px;

}

img {
	width: 200px;

}

header {
	height:15em;
	background: #e1e1e1;
	border:1px solid #baaea0;
	border-bottom: 10px solid #d7d2c5;
	width:96em auto;
	text-align: left;
}

ul {
    list-style-type: none;
    margin-top: 50px;
    padding-top: 50px;
    display: inline;
}

li {
    float: left;
    width: 10em;
    padding: 3px;
    text-align: center;
}

a {
    display: block;
    width: 60px;
    text-decoration: none;
}

/* unvisited link */
nav a:link {
    background-color: #e1e1e1;
    width: 10em;
    height: 20px;
    padding: 3px;
}

/* visited link */
nav a:visited {
    background-color: #e1e1e1;
    width: 10em;
    height: 20px;
    padding: 3px;
}

/* mouse over link */
nav a:hover {
    background-color: #baae9e;
    width: 10em;
    height: 20px;
    padding: 3px;
}

/* selected link */
nav a:active {
    background-color: #baae9e;
    width: 10em;
    height: 20px;
    padding: 3px;
}

body {
	margin:0px;
	background:#e1e1e1;
}

article {
    background-color: #000;
    width: 1em;
}

footer ul li{
    width: 300px;
}